
.loginContainer{
    width:500px;
    height:500px;
    border:1px solid black;
    margin:40px 440px;
    display:flex;
    justify-content:center;
    align-items:center;
   /* // background-color:#846BFB; */
   font-weight:500;
}

 .heading{
    text-align: center;
} 

.LoginBtnText{
    color:white;
    text-decoration: none;
    font-weight:500;
}